* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    overflow: hidden;
}

#background {
    position: fixed;
    inset: 0;
    z-index: -1;
    transition: background 1s ease;
}

.sky {
    position: absolute;
    inset: 0;
    transition: opacity 1.5s ease;
}

.sky-back {
    z-index: 1;
}

.sky-front {
    z-index: 2;
    opacity: 1;
}
.mode-day .sky-front {
    background: linear-gradient(#89f7fe, #66a6ff);
}

.mode-sunset .sky-front {
    background: linear-gradient(#ff9a9e, #fad0c4);
}

.mode-night .sky-front {
    background: linear-gradient(#0f2027, #203a43, #2c5364);
}


.celestial {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    transition: all 1s ease;
}
/* ДЕНЬ */
.mode-day .sky {
    background: linear-gradient(#89f7fe, #66a6ff);
}

.mode-day .celestial {
    background: #fff9c4;
    box-shadow: 0 0 40px rgba(255, 255, 200, 0.8);
}

/* ЗАКАТ */
.mode-sunset .sky {
    background: linear-gradient(#ff9a9e, #fad0c4);
}

.mode-sunset .celestial {
    background: #ffcc80;
    top: 60%;
}

/* НОЧЬ */
.mode-night .sky {
    background: linear-gradient(#0f2027, #203a43, #2c5364);
}

.mode-night .celestial {
    background: #e0e0e0;
    box-shadow: 0 0 30px rgba(200, 200, 255, 0.6);
}





.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
}


.mode-icon {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

    .mode-icon img {
        max-width: 120px;
        max-height: 120px;
        width: auto;
        height: auto;
        opacity: 0.9;
    }


.event-name {
    font-size: 28px;
    margin-bottom: 30px;
    opacity: 0.9;
}

.timer {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}


.time-block {
    background: rgba(255, 255, 255, 0.15);
    padding: 20px 16px;
    border-radius: 16px;
    min-width: 80px;
}

    .time-block span {
        display: block;
    }

        .time-block span:first-child {
            font-size: 32px;
            font-weight: bold;
        }

.label {
    font-size: 12px;
    opacity: 0.8;
}

.caption {
    margin-top: 30px;
    font-size: 18px;
    opacity: 0.9;
    max-width: 300px;
    line-height: 1.4;
    transition: opacity 0.8s ease;
}
